{% extends "dashboard/base.html" %}
{% block content %}
<br>
<div class="container-fluid" id="app">
    <div class="card bg-light mb-3">
        <div class="card-header"><h4><strong>{{ app.name }}</strong></h4></div>
        <div class="card-block" style="padding: 10px 20px 10px 20px;background: white;">
            <p class="card-text">
                <span id="token">{{ app.token }}</span>
                <a class="btn btn-primary copy-btn" data-clipboard-target="#token" style="pointer: cursor;background: #e9ecec;border-color: #e2e0e0;">
                    <img class="clippy" src="/static/img/clippy.svg" width="15" alt="Copy to clipboard">
                </a>
            </p>
        </div>
    </div>

    <form>
        <div class="form-row">
            <div class="col-lg">
                <input type="url" class="form-control" placeholder="Feed URL" v-model="feed_url">
                <small class="form-text text-danger" v-if="error">
                    [[ error ]]
                </small>
            </div>
            <div class="col-md">
                <input type="url" class="form-control" placeholder="Feed Category" v-model="feed_category">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-md btn-success" @click.prevent="addNewFeed">Add</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table" v-if="feeds.length > 0">
        <thead >
            <th>Url</th>
            <th>Category</th>
            <th>Alexa Rank</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr v-for="feed in feeds">
                <td><a v-bind:href="[[ feed.url ]]">[[ feed.url ]]</a></td>
                    <td>
                        <p v-if="feed.category.length > 0">[[ feed.category[0]['name'] ]]</p>
                    </td>
                <td>
                    <input type="text" class="form-control input-sm" v-model="feed.alexa_rank"></input>
                </td>
                <td>
                    <button class="btn btn-sm btn-success" @click.prevent="updateAlexaRank(feed)">Save</button>
                    <button class="btn btn-sm btn-danger" @click="deleteFeed(feed)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

<script>

 new Vue({
    el: '#app',
    data: {
        app_id: '{{ app.id }}',
        feeds: [],
        feed_url: '',
        error: '',
        alexa_rank : '',
        feed_category : ''
    },
    delimiters: ['[[', ']]'],
    mounted: function () {
        this.getAppDetails();
    },
    methods: {
        getAppDetails: function(app_id) {
            const vm = this;
            axios.get('/admin/api/apps/' + vm.app_id + '/feeds')
            .then(function (response) {
                vm.feeds = response.data.data;
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        addNewFeed: function() {
            const vm = this;
            vm.error = '';
            axios.post('/feeds', {
                url: this.feed_url,
                category: this.feed_category,
                app_id: this.app_id,
            })
                .then(function (response) {
                    if (response.data.error) {
                        vm.error = response.data.error;
                    } else {
                        vm.feed_url = '';
                        vm.feeds.unshift(response.data.data);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        deleteFeed: function(item) {
            const vm = this;
            vm.error = '';
            axios.delete('/feeds/' + item.id)
                .then(function (response) {
                    if (response.data.success) {
                        vm.feeds = vm.feeds.filter(function (feed) {
                            return feed.id != item.id;
                        });
                    } else {
                        vm.error = "Not able to delete feed";
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        updateAlexaRank: function(feed) {
            const vm = this;
            vm.error = '';

            axios.put('/feeds/'+ feed.id, {
                alexa_rank: feed.alexa_rank
            })
                .then(function (response) {
                    if (response.data.error) {
                        vm.error = response.data.error;
                    } 
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    }
 });

 new Clipboard('.copy-btn');
</script>
{% endblock %}
